.horizontal_scroll {
  display: flex;
  width: 100%;
  height: 60%;
  overflow-x: scroll;
}

.horizontal_card {
  position: relative;
  background-color: lightskyblue;
  border: 1px solid black;
  width: 250px;
  height: 300px;
  margin: 1rem;
  border-radius: 1rem;
  padding: 10px;
}

.img_wrapper{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.img_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: rgb(174, 233, 235);
  border: 1px solid black;
}

.deleteIcon {
  color: red;
  position: absolute;
  right: 10px;
  top: 10px;
}

.edit_button_container{
display: flex;
justify-content: center;
}

.edit_button{
  text-align: center;
  width: 4rem;
  color: red;
  font-style: oblique;
  border-radius: 10px;
  background-color: skyblue;
  border: 1px solid rgb(38, 68, 81);
}

.user_container{
  display: flex;
}
.user_details{
  color: red;
  margin-left: 10px;
}
.profile_details{
  color: red;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px; 
}

.add_button_container{
  display: flex;
  justify-content: right;
  margin: 1rem;
}
.add_button{
  background-color: skyblue;
  color: red;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
}

.add_user_card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.add_user_details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
}
input,.label{
  margin: 10px 0 10px 0;
}
.input_container{
  width: 300px;
  display: flex;
  justify-content: space-between;
}